<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Angular Project</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body ng-controller='mainController as vm'>

    <h1>Formulaire</h1>

    <form class="form-horizontal">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" placeholder="lastname" ng-model="lastname" ng-required="true">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" placeholder="firstname" ng-model="firstname" ng-required="true">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="email" ng-model="email" ng-required="true">
        <button ng-click="addUser()">Valid</button>
        <button ng-click="deleteUser()">Delete</button>
    </form>

    <table>
        <tr>
            <td class="title">Lastname</td>
            <td class="title">Firstname</td>
            <td class="title">Email</td>
        </tr>

        <tr ng-repeat="user in users">
          <td>{{user.lastname}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.email}}</td>
        </tr>
    </table>


    <script src="js/libs/angular.min.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
